:host {
  display:block;
}

.nav li {
  list-style: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &.active {
    font-weight: 800;
    color: var(--primary-color);
  }

  &:hover {
    background-color: var(--primary-light-color);
  }
}
