<div class="delivery-page">
  <h2 class="h2">Доставка</h2>
  <p >Условия доставки</p>

  <div>
    <div>
      <h4 class="h4">Оплата</h4>
      <p>Оплата осуществляется переводом на СБЕРБАНК.
    </div>
    <div>
      <h4 class="h4">Отправка</h4>
      <p>Отправка осуществляется "Почтой РФ", СДЭК.</p>
    </div>

    <div>
      <h4 class="h4">Доставка</h4>
      <p>Доставка осуществляется до ближайшего к вам пункта самовывоза.</p>
      <p>Время доставки в среднем составляет 3-7 дней (в отдаленные регионы РФ дольше).</p>
      <p>Стоимость доставки в среднем составляет 350 руб (в отдаленные регионы РФ стоимость несколько выше).</p>
      <p>Самостоятельно рассчитать ПРИБЛИЗИТЕЛЬНУЮ стоимость доставки к вам можно на сайте Почты РФ или по этой ссылке <a class="delivery-href" href="https://www.pochta.ru/parcels" target="_blank">www.pochta.ru/parcels</a>. 
        Либо на сайте СДЭК  (или по этой ссылке <a class="delivery-href" href="https://www.cdek.ru/calculator" target="_blank">www.cdek.ru/calculator</a>).</p>        
    </div>
  </div>
</div>