<header class="header">
  <nav class="nav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Главная</a>
    <a routerLink="/search" routerLinkActive="active">Каталог</a>
  </nav>

  <div class="user-info" *ngIf="authService.isAuth" (click)="toggleDropdown()">
    <button class="user-info button">
      {{ authService.username }}
    </button>

    <ul class="dropdown" *ngIf="isDropdownOpen">
      <li (click)="authService.logout()">Выйти</li>
    </ul>
  </div>

  <nav *ngIf="!authService.isAuth" routerLink="/login" class="login-btn">
    Вход
  </nav>
</header>
