:host {
  display:grid;
  grid-template-columns: 1fr;
  margin: 0 5%;
}

.knife-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.knife-wrapper{
  margin-bottom: 24px;
}