<div class="favorite-page">
  <h3 class="h3">Избранные товары</h3>
  <div class="knife-grid">
    @for (knife of knifesBriefly | paginate: paginationConfig; track knife.id) {
      <div class="knife-wrapper">
        <app-knife-card [knife]="knife"></app-knife-card>
      </div>
    }
  </div>

  <pagination-controls
  class="pagination"
  [id]="paginationConfig.id"
  (pageChange)="onPageChange($event)"
  [previousLabel]="paginationConfig.previousLabel"
  [nextLabel]="paginationConfig.nextLabel">
  </pagination-controls>
</div>