.knife-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 16px;
  padding: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
  max-width: 320px;
  position: relative;
  
  &:hover {
    transform: translateY(-4px);
  }

  .knife-card-main {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .knife-card__avatar {
      width: 64px;
      height: 64px;
      border-radius: 12px;
      object-fit: cover;
      margin-right: 16px;
      border: 1px solid #e0e0e0;
    }

    .knife-card__name {
      display: flex;
      flex-direction: column;
    }
  }

  .knife-card__price {
    font-size: 20px;
    font-weight: 700;
  }

  .knife-available {
    color: var(--green-color);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    
    &::before {
      color: var(--green-color);
    }
  }
  
  .knife-unavailable {
    color: var(--red-contrast-color);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
  
    &::before {
      color: var(--red-contrast-color);
    }
  }

  .btn-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    position: relative;
    padding: 10px 16px;
  }
  
  .favorite-btn {
    transition: transform 0.2s ease-in-out;
  
    color:var(--light-color);
  
    &.active {
      color: var(--red-contrast-color);
    }
  
    &:hover {
      transform: scale(1.1);
    }
  }
}

