<div class="catalog-container">
  <div class="catalog-title"> 
    <h1 class="h1">
      Каталог ножей <span *ngIf="category">{{ category.name }}</span>
    </h1>
  </div>
  

  <div class="catalog-controls">
    <input type="text" placeholder="Поиск..." [(ngModel)]="search" (input)="onSearch()" class="tt-input" />
    <select [(ngModel)]="sortItem" (change)="onSortChange()" class="tt-input">
      <option value="title">Название</option>
      <option value="date">Дата</option>
      <option value="price">Цена</option>
    </select>
    <select [(ngModel)]="sortOrder" (change)="onSortChange()" class="tt-input">
      <option value="asc">{{sortItem == 'price' ? 'По дешевле' : 'По возрастанию'}}</option>
      <option value="desc">{{sortItem == 'price' ? 'По дороже' : 'По убыванию'}}</option>
    </select>
  </div>

  <div class="knife-grid">
    @for (knife of knifesBriefly | paginate: paginationConfig; track knife.id) {
      <div class="knife-wrapper">
        <app-knife-card [knife]="knife"></app-knife-card>
      </div>
    }
  </div>

  <pagination-controls
  class="pagination"
  [id]="paginationConfig.id"
  (pageChange)="onPageChange($event)"
  [previousLabel]="paginationConfig.previousLabel"
  [nextLabel]="paginationConfig.nextLabel">
  </pagination-controls>
</div>
