.catalog-container {
  max-width: 1200px;
  margin: auto;
  padding: 32px;
}

.catalog-title h1 {
  white-space: nowrap;
}

.catalog-title span {
  font-weight: 400;
}

.catalog-controls {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.knife-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.knife-wrapper{
  margin-bottom: 24px;
}