<form
  class="edit-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h3 class="h3 mb60">Изменение категорий ножей</h3>

  <label class="tt-control-label mb16">
    Название категории
    <input formControlName="name" class="input tt-input" type="text" placeholder="Введите название категории">
  </label>

  <label class="tt-control-label mb16">
    Изображение
    <input formControlName="image" class="input tt-input" accept=".png, .jpg, .jpeg" type="file" (change)="onImageSelected($event)" placeholder="Выберите изображение" />
    <div class="error-text mt8" *ngIf="form.controls.image.hasError('notSupportedFileType')">
      Поддерживаемые типы файлов: .png, .jpg, .jpeg
    </div>
  </label>

  <button class="btn btn-shadow mb16" [class.inactive]="form.invalid" type="submit">
    Добавить категорию
  </button>

  <div class="error-text mt16" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</form>

<div class="category mt40">
  <h4 class="h4 mb20">Текущие категории:</h4>

  <div *ngFor="let category of categories" class="category-gallery mb16">
    <img class="category-img" [src]="category.image | imgUrl"/>
    <div class="category-info">
      <span>{{ category.name }}</span>
      <button class="btn btn-small btn-danger" (click)="onDeleteCategory(category.id)">
        Удалить
      </button>
      <div class="category-arrows">
        <svg (click)="moveCategory(category.id, true)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024"><path fill="currentColor" d="M868 545.5L536.1 163a31.96 31.96 0 0 0-48.3 0L156 545.5a7.97 7.97 0 0 0 6 13.2h81c4.6 0 9-2 12.1-5.5L474 300.9V864c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V300.9l218.9 252.3c3 3.5 7.4 5.5 12.1 5.5h81c6.8 0 10.5-8 6-13.2"/></svg>
        <svg (click)="moveCategory(category.id, false)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024"><path fill="currentColor" d="M862 465.3h-81c-4.6 0-9 2-12.1 5.5L550 723.1V160c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v563.1L255.1 470.8c-3-3.5-7.4-5.5-12.1-5.5h-81c-6.8 0-10.5 8.1-6 13.2L487.9 861a31.96 31.96 0 0 0 48.3 0L868 478.5c4.5-5.2.8-13.2-6-13.2"/></svg>
      </div>
    </div>
  </div>
</div>
