:host {
  display:grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 0 5%;
}

.edit-form * { 
  box-sizing: border-box;
}

.category-info {
  display: flex;
  flex-direction: column;
  gap:12px;
}